html, body {
  margin: 0;
  padding: 0;
  background-color: #eaf2d7;
  text-align:center;
}

canvas {
  display: block;
}

h1{
  color:#e27396;
  font-size: 350%;
  text-align:center;
}

p1{
  font-family:"Lucida Console", "Courier New", monospace;
  /*font-size: 105%;*/
}

.container {
    display:flex;
}
.fixed {
    width: 640px;
}
.flex-item {
    flex-grow: 1;
}

/* hide the pointers from palmPointers Plugin since we are drawing hands on canvas*/
.handsfree-pointer{display:none !important}
.handsfree-debugger{opacity: 0.25; float: right; width: 90% !important}